* {
  margin: 0;
  padding: 0;
  background-color: #1e212d;
  color: #eabf9f;
  font-family: 'Roboto Mono', monospace;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin: auto;
  gap: 4rem;
  height: 100vh;
  max-width: 100%;
  justify-content: center;
  align-items: center;
}

.pomodoro {
  font-size: 6rem;
}

.message {
  font-size: 0.4rem;
  min-height: 1.3rem;
  margin-bottom: 0.5rem;
}