#root{
  height: 100%; 
}

* {
  padding: 1rem;
}

body {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  background-color: #1e212d;
  color: #eabf9f;
  height: 100%;
  font-family: 'Roboto Mono', monospace;
}


.App {
  height: 100%;
  justify-content: center;
  align-items: center;
}

.pomodoro {
  font-size: 6rem;
}

.message {
  font-size: 0.4rem;
  min-height: 1.3rem;
  margin-bottom: 0.5rem;
}

